@charset "UTF-8";

body {
    background-image: linear-gradient(to right,#F27405,#F29F05,#f29f05b6);
   /* background-image: url("img/fundofinal.png");*/
    background-attachment: fixed; /*fixar o fundo para ele não se mover*/
}

header {

    width: 100%;
    background-image:linear-gradient(to top,rgb(183, 5, 5),rgb(100, 3, 3));
    padding: 10px;
    color: rgb(250, 247, 247);
    text-shadow: 1px 1px 2px rgb(79, 82, 85);
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    box-sizing: border-box;

}

section {

    /*background-color: rgb(243, 180, 20);*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 900px;
    height: 100%px;
    margin: auto;
    box-shadow: 0px 10px 20px #714b04;
    overflow: hidden; /* <- impede que o header “vaze” */

    
}

footer {
    text-align: center;
}

.card-body {
    
    text-align: justify;
    text-align: center;
    font: normal 10pt arial;
    color: rgb(85, 12, 12);
}

#pizza {
    display: flex;
    align-items: center;
}

#card1 {
    margin-top: 10px;
    margin-left: 5rem;

}

#ingre {
    margin: auto;
    width: 400px;
    height: 150px;

}

#pizza2 {
    display: flex;
    align-items: center;
}

#card2 {

    margin-left: 35rem;
}

#ingre2 {
    position: absolute;
    margin-left: 5rem;
    width: 400px;
    height: 150px;


}

#pizza3 {
    display: flex;
    align-items: center;
}

#ingre3 {
    margin: auto;
    width: 400px;
    height: 150px;
}

#card3 {
    display: block;
    margin-left: 10rem;
}

#ingre,
#ingre2,
#ingre3 {
    
    font: normal 10pt arial;
    color: #260101;
    text-align: justify;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(255, 210, 76);
}

#card1,
#card2,
#card3 {


    background-color: #ffffffbd;
    padding: 10px;
    height: 275px;
    border: 3px solid;
    border-radius: 25px;
    border-color: #c65e03;
    box-shadow: 8px 8px 1px #c65e03;
}

#btn {


    text-decoration: none;
    background-color: #ffbc11;

    width: 90px;
    height: 30px;
    border-radius: 4px;
    border-color: #faa03a00;
    border: 1px 1px;


}

#btn:hover {
    background-color: #f1f10b;
    transition: all;
}

h3 {
    text-align: center;
}

p {
    font-size: 15px;
}

#img {
    display: block;
    margin: auto;


}

#carrinho {

    text-align: end;
}