body{
    background-color: rgb(123, 7, 7);
}

header{
    padding: 10px;
    margin: 10px;
    color: rgb(119, 4, 4);
    text-align: center;
   font-family: cursive;
   font-size: 35px;
   
}

section{
    background-color: rgb(243, 180, 20);
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    height:1050px;
   margin: auto;
   box-shadow: 0px 10px 20px black;
}

footer{
    text-align: center;
}

div{
 
    font: normal 10pt arial;
    color: rgb(85, 12, 12);
}
#pizza{
    display: flex;
    align-items: center;
}
#card1{
    
    margin-left: 5rem;
    
}
#ingre{
    margin: auto;
    width: 400px;
    height: 150px;
    
}
#pizza2{
    display: flex;
  align-items: center;
}
#card2{
    
    margin-left: 35rem;
}
#ingre2{
    position: absolute;
    margin-left: 5rem;
    width: 400px;
    height: 150px;


}
#pizza3{
display: flex;
    align-items: center;
}

#ingre3{
margin: auto;
    width: 400px;
    height: 150px;
}
#card3{
    display: block;
    margin-left: 10rem;
}
#card1,#card2,#card3{
    
    background-color: #ff6117bd;
    padding: 10px;
    height: 270px;
    border: 3px solid;
    border-radius: 25px;
    border-color: rgba(86, 4, 4, 0.808);
    box-shadow: 1px 1px 15px;
}
#btn{
    
    text-decoration: none;
    background-color: rgb(2, 224, 117);
    width: 90px;
    height: 30px;
    border-radius: 4px;
   
    box-shadow: 2px 2px 1px;
}

h3{
    text-align: center;
}

p{
    font-size: 15px;
}

#img{
    display: block;
    margin: auto;
    
    
}

#carrinho{
    text-align: end;
}